<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>

<h1>{{ article.title }}</h1>

<p>{{ article.content }}</p>

<p>{{ article.author.getName() }}
    / {{ article.publicationDate | date('d/m/y') }}</p>

{% if current_user %}
    <button>Ajouter commentaire</button>
{% endif %}

<a href="{{ SELF }}">Retour</a>

</body>
</html>

