<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>

    <div>last Article :
        {{ articles | first }}
    </div>

    {% if articles|length > 0 %}
        <h3>Articles</h3>
        {% for article in articles %}
            <p>
                <a href="{{ SELF }}?selected_article_id={{ article.id }}">{{article.title}}</a>
            </p>

        {% endfor %}
    {% endif %}
</body>
</html>